html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Circular Std';
}

.navbar-brand {
    color: orange;
}

.navbar-toggler {
    color: black;
}

.loftsix-banner {
    background-size: cover;
    color: white;
    min-height: 350px;
    padding: 30px 0;
}

.loftsix-banner.home {
    background-image: url(https://loftsix.s3.sa-east-1.amazonaws.com/banner-home.png);
}

.loftsix-banner.survey, .loftsix-banner.survey-home {
    background-image: url(https://loftsix.s3.sa-east-1.amazonaws.com/banner-survey.png);
}

.loftsix-banner.survey-home {
    height: 450px;
}

.loftsix-banner .col {
    padding: 0 90px;
}

.loftsix-banner .title {
    width: 100%;
}

.loftsix-banner h3 {
    font-weight: bold;
}

.loftsix-banner .title span {
    font-family: 'Theory';
    font-size: 100px;
}

.loftsix-banner .container {
    display: flex;
}

.loftsix-banner .row {
    justify-content: center;
    align-items: center;
}

.welcome-msg p, li span {
    color: #7F8C8D;
}

.loftsix-banner a {
    color: rgba(0, 0, 0, 0.87);
}

.loftsix-banner .col-md {
    padding: 0 30px;
    margin-bottom: 50px;
}

.loftsix-banner .col-md .btn {
    margin-top: 10px;
}

.loftsix-banner .col-md:nth-child(2) {
    text-align: right;
}

.chat-container {
    max-width: 500px;
    height: 300px;
    padding: 10px;

    margin: 0 auto;
}

.chat-container .chat-iteration {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin-bottom: 0;
    border: 1px solid #ced4da;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.chat-container p {
    margin: 0;
}

.btn-submit:hover {
    color: #E75A23;
    background: white;
    border-color: #E75A23;
}


.chat-container button {
    background: #E75A23;
    color: white;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 14px;
    color: whitesmoke;
    line-height: 48px;
    text-align: center;
    background: orange;
    float: left;
    margin-right: 10px;
  }

.chat-iteration p:nth-child(odd) {
    background: rgba(219, 219, 219, 0.5);
}

.chat-iteration p:nth-child(even) {
    text-align: right;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.survey {
    padding: 30px 0;
}

@media(min-width: 1024px) {
    .nav-item {
        margin-left: 20px;
    }

    .loftsix-banner {
        height: 350px;
        padding: 0;
        display: flex;
    }

    .loftsix-banner .title {
        width: 280px;
    }

    .survey {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .loftsix-banner.home {
        height: 500px;
    }
    .loftsix-banner .col-md {
        padding: 0 90px;
        margin-bottom: 0;
    }
}
