html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Circular Std';
}

.navbar-brand {
    color: orange;
}

.navbar-toggler {
    color: black;
}

.loftsix-banner {
    background-size: cover;
    color: white;
    min-height: 350px;
    padding: 30px 0;
}

.loftsix-banner.home {
    background-image: url(../images/banner-home.png);
}

.loftsix-banner.survey, .loftsix-banner.survey-home {
    background-image: url(../images/banner-survey.png);
}

.loftsix-banner.survey-home {
    height: 450px;
}

.loftsix-banner .title {
    width: 100%;
}

.loftsix-banner h3 {
    font-weight: bold;
}

.loftsix-banner .title span {
    font-family: 'Theory';
    font-size: 100px;
}

.loftsix-banner .container {
    display: flex;
}

.loftsix-banner .row {
    justify-content: center;
    align-items: center;
}

.welcome-msg p, li span {
    color: #7F8C8D;
}

.loftsix-banner button {
    color: rgba(0, 0, 0, 0.87);
    background: white;
    text-transform: uppercase;
    padding: 8px 22px;
    font-size: 0.9375rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 600;
    line-height: 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.loftsix-banner button a {
    color: rgba(0, 0, 0, 0.87);
}

.loftsix-banner .col-md {
    padding: 0 30px;
    margin-bottom: 50px;
}

.loftsix-banner .col-md button {
    margin-top: 10px;
}

.loftsix-banner .col-md:nth-child(2) {
    text-align: right;
}

.chat-container {
    max-width: 400px;
}

.chat-container button {
    display: inline-block;
    border-radius: 50%;
    background: #E75A23;
    color: white;

    height: 35px;
    width: 35px;
}

.chat-container input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.chat-iteration p:nth-child(even) {
    text-align: right;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@media(min-width: 1024px) {
    .nav-item {
        margin-left: 20px;
    }

    .loftsix-banner {
        height: 350px;
        padding: 0;
        display: flex;
    }

    .loftsix-banner .title {
        width: 280px;
    }

    .survey {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .loftsix-banner.home {
        height: 500px;
    }
    .loftsix-banner .col-md {
        padding: 0 90px;
        margin-bottom: 0;
    }
}
