<header class="navbar navbar-expand-md navbar-light navbar-loftsix">
	<a href="/" class="navbar-brand d-flex align-items-center">
		<img src="{{static_url_for('static', filename='images/logo-loft.svg')}}" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav ml-auto list-unstyled">
			<li class="nav-item"><a href="https://www.loft.com.br/vender-apartamento" class="text-dark">Vender apartamento</a></li>
			<li class="nav-item"><a href="https://www.loft.com.br/homes" class="text-dark">Comprar apartamento</a></li>
			<li class="nav-item"><a href="https://www.loft.com.br/#how-it-works" class="text-dark">Como funciona</a></li>
			<li class="nav-item"><a href="https://www.loft.com.br/corretor-de-imoveis" class="text-dark">Para corretores</a></li>
			<li class="nav-item"><a href="https://www.loft.com.br/financiamento-imobiliario" class="text-dark">Financiamento</a></li>
			<li class="nav-item"><a href="https://www.loft.com.br/about-us" class="text-dark">Sobre nós</a></li>
			<li class="nav-item"><a href="https://www.loft.com.br/antecipacao-de-venda" class="text-dark">Crédito</a></li>
		</ul>
	</div>
</header>
