{% extends 'layout.html' %}

{% block body %}
<div class="loftsix-banner home">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3>Venda seu apartamento, pagamos à vista</h3>
                <p>Venda seu imóvel rapidamente, por um valor justo e receba à vista, por meio de um processo transparente e sem burocracia.</p>
                <a class="btn btn-light" href="https://www.loft.com.br/vender-apartamento">Receber uma proposta</a>
            </div>
            <div class="col-md">
                <h3>Compre seu apartamento dos sonhos</h3>
                <p>Apartamentos reformados, equipados com os melhores acabamentos e entregues pronto para morar nas melhores localizações de São Paulo.</p>
                <a class="btn btn-light" href="https://www.loft.com.br/homes?neighbourhood=[202]">Ver disponíveis</a>
            </div>
        </div>
    </div>
</div>
<div class="loftsix-banner survey-home">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title">
                    <h1>O apartamento do tamanho dos seus sonhos</h1>
					<a class="btn btn-light" href="{{url_for('.survey')}}">Iniciar</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
