{% extends 'layout.html' %}

{% block body %}
<div class="loftsix-banner home">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3>Venda seu apartamento, pagamos à vista</h3>
                <p>Venda seu imóvel rapidamente, por um valor justo e receber à vista, por meio de um processo transparente e sem burocracia.</p>
                <button><a href="https://www.loft.com.br/vender-apartamento">Receber uma proposta</a></button>
            </div>
            <div class="col-md">
                <h3>Compre seu apartamento dos sonhos</h3>
                <p>Apartamentos reformados, equipados com os melhores acabamentos e entregues pronto para morar nas melhores localizações de São Paulo.</p>
                <button><a href="https://www.loft.com.br/homes?neighbourhood=[202]">Ver disponíveis</a></button>
            </div>
        </div>
    </div>
</div>
<div class="loftsix-banner survey-home">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>O apartamento do tamanho dos seus <span>sonhos</span></h1>
                <button>
                    <a href="{{url_for('.survey')}}">Iniciar</a>
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
