{% extends 'layout.html' %}

{% block body %}
{% for p in properties %}
<input type="hidden" value="{{p.location[0].latitude}},{{p.location[0].longitude}}" name="loc">
<input type="hidden" name="id" value={{p.id}}>
{% endfor %}
<div class="container">
	<div class="row">
		<div class="col-sm">
			<h2>Seu perfil é <span>pioneiro</span></h2>
			<p>
				Descolado e sempre em busca de novidades, o perfil pioneiro é aquele que sempre indica os melhores restaurantes
				e está sempre antenado no que a cidade oferece de melhor. Para você separamos uma seleção de apês aconchegantes
				e perfeitos para marcar um super jantar acompanhado de uma boa conversa que pode se estender até a madrugada.
			</p>
			<img src="../static/images/pioneiro.png" alt="pioneiro" class="center">
		</div>
		<div class="col-sm">
			<div style="height: 100%; min-height: 400px;" id="map"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ static_url_for('static', filename='js/match.js') }}"></script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP9wjp3IzpVwrM0bpSFUvz6hOq7k5QjZU&callback=initMap"></script>
{% endblock %}