{% extends 'layout.html' %}

{% block body %}
<div class="loftsix-banner survey">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title">
                    <h1>O apartamento do tamanho dos seus <span>sonhos</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="survey">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="welcome-msg">
                    <p>Olá, que bom que você veio! Comprar um apartamento é uma das decisões mais importantes da nossa vida. Por isso, escolher um imóvel que é a nossa cara é fundamental e estamos aqui para te ajudar. Vamos começar?</p>
                    <div class="chat-container">
                        <ul class="chat-iteration list-unstyled">
                        </ul>
                        <div class="input-container">
                            <form id="answer-form">
                                <input id="chat-input" type="number" placeholder="Responda aqui..." required>
                                <button type="submit">></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="{{url_for('.match')}}" id="survey-form">
    {% for question in survey %}
    <input type="hidden" name="{{question.category}}">
    {% endfor %}
</form>

<script type="text/javascript"
        src="{{ static_url_for('static', filename='js/survey.js') }}"></script>

<script>
    window.setupSurvey({{survey | safe}});
</script>
{% endblock %}
