{% extends 'layout.html' %}

{% block body %}
<div class="loftsix-banner">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>O apartamento do tamanho dos seus SONHOS</h1>
            </div>
        </div>
    </div>
</div>

<div class="survey">
    <div class="container">
        <div class="row">
            <div class="welcome-msg">
                <p>Olá, que bom que você veio! Comprar um apartamento é uma das decisões mais importantes da nossa vida. Por isso, escolher um imóvel que é a nossa cara é fundamental e estamos aqui para te ajudar. Vamos começar?</p>
                <div class="chat-container">
                    <ul class="chat-iteration list-unstyled">
                        <li>
                            <p>Como podemos te chamar?</p>
                            <span>
                                <input type="text" name="name" placeholder="Responda aqui...">
                                <button type="submit">></button>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
